@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {

	font-family: "Work Sans", sans-serif;
	font-size: 22px;
}

h1, h2, h3 {
    font-family: "Lato", sans-serif;
    font-weight: bold;

}
.container {
    width: 700px;
    margin: 0 auto;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}